{{ define "main" }}
	{{ $pager := .Paginate (where .Site.RegularPages "Type" "blog") }}
   <article class="post">
      <h1 class="post-title">blog</h1>
	   {{ with .Content }}
	   	<div class="index-content">
	   		{{ . }}
	   	</div>
	   {{ end }}

		{{ range $pager.Pages.GroupByDate "2006" }}
			<article class="on-list">
				<h2 class="post-meta">{{ .Key }}</h2>
				{{ range .Pages }}
					{{ partial "blog/entry.html" (dict "Page" . "showYear" false) }}
				{{ end }}
			</article>
		{{ end }}
   </article>
	{{ partial "pagination.html" (dict "Paginator" $pager) }}
{{ end }}
