{{ define "main" }}
	<h1>listing posts for #{{ .Title }}</h1>
	{{ with .Content }}
		<div class="index-content">
			{{ . }}
		</div>
	{{ end }}
	<div class="posts">

		{{ range (.Paginator.Pages.GroupBy "Type") }}
		   <article class="post on-list">
               {{ $firstType:= (index .Pages 0).Type }}

		   	   {{ if eq $firstType "blog" }}
		   	   	<h1 class="post-title">blog entries</h1>
		   	   	{{ range .Pages }}
		   	   		{{ partial "blog/entry.html" (dict "Page" . "showYear" true) }}
		   	   	{{ end }}
		   	   {{ end }}

		   	   {{ if eq $firstType "pics" }}
		   	   	<h1 class="post-title">pics</h1>
		   	   	{{ partial "pics/list.html" .Pages }}
		   	   {{ end }}

		   </article>
      {{ end }}
		{{ partial "pagination.html" . }}
	</div>
{{ end }}
