{{ define "main" }}
	<article class="post">
      <h1 class="post-title">{{ lower .Title }}</h1>
      <div class="tags-grid">
         {{ range $i, $tag := sort .Site.Taxonomies.tags }}
            {{ with $tag }}
               {{ $c := substr .Page.Title 0 1 | upper }}
               {{ $savedChar := $.Scratch.Get "savedChar" }}

               {{ if ne $c $savedChar }}
                  {{ if and (ne $savedChar "") (gt $i 0) }}
                     </ul>
                     </article>
                     </div>
                  {{ end }}

                  {{ $.Scratch.Set "savedChar" $c }}
                  {{ $.Scratch.Set "nonEmpty" "true" }}

                  <div class="tags-box">
                  <h2 style="font-size:32px;">{{ $c }}</h2>
                  <article class="on-list">
                  <ul>
               {{ end }}

               <li>
               <a href="{{ .Page.Permalink }}">{{ .Page.Title | lower }} ({{ .Count }})</a>
               </li>
            {{ end }}
         {{ end }}
         {{ if eq ($.Scratch.Get "nonEmpty") "true" }}
            </ul>
            </article>
            </div>
         {{ end }}
      </div>
	</article>
{{ end }}
