.chat {
  margin-bottom: 8px;
}

.chat-recipient {
  background-color: #817dab;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.chat-recipient img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 12px;
}

.chat-recipient div {
  display: inline-block;
  align-self: center;
}

.chat-recipient svg {
  margin-left: 12px;
  width: 16px;
  height: 16px;
}

.chat-body {
  background-color: #211e45;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-container {
  display: flex;
  color: #e4e4e4;
}

.chat-container-right {
  justify-content: right;
  align-items: right;
}

.chat-container-left {
  justify-content: left;
  align-items: left;
}

.chat-message {
  margin-top: 8px;
  font-size: small;
  position: relative;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  max-width: 85%;
  width: fit-content;
}

.chat-message-left {
  background-color: #393478;
}

.chat-message-right {
  background-color: #646185;
}

/* The tail of the chat bubble, which is an absolutely positioned triangle relative
   to the chat message. */
.chat-message-tail {
  position: absolute;
  bottom: 0;
  border-top: 14px solid transparent;
}

.chat-message-tail-right {
  right: -16px;
  border-left: 16px solid #646185;
  border-right: 16px solid transparent;
  border-bottom: 14px solid #646185;
  border-top: 14px solid transparent;
}

.chat-message-tail-left {
  left: -16px;
  border-left: 16px solid transparent;
  border-right: 16px solid #393478;
  border-bottom: 14px solid #393478;
}
