body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211, 0.4);
  border-radius: 2px;
}

:hover::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220, 0.6);
}

.chat {
  width: 85%;
  margin: auto;
}

.chat-left {
  border-left: 7px solid #b21cf2;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #b21cf22b;
  text-align: left;
}

.chat-right {
  border-left: 7px solid #882581b0;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #88258130;
  text-align: left;
}

.chat-name {
  margin-bottom: 4px;
}

.chat-inner {
  font-size: 90%;
}
