.chat {
  margin-bottom: 8px;
}

.chat-recipient {
  background-color: #2d2d2d;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 28px;
  padding-right: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-body {
  background-color: #182825;
  padding-top: 4px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat-container {
  display: flex;
  color: #e4e4e4;
}

.chat-container-right {
  justify-content: right;
  align-items: right;
}

.chat-container-left {
  justify-content: left;
  align-items: left;
}

.chat-message {
  margin-top: 8px;
  font-size: small;
  position: relative;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  max-width: 85%;
  width: fit-content;
}

.chat-message-left {
  background-color: #227c9d;
}

.chat-message-right {
  background-color: #22aed1;
}

/* The tail of the chat bubble, which is an absolutely positioned triangle relative
   to the chat message. */
.chat-message-tail {
  position: absolute;
  bottom: 0;
  border-top: 14px solid transparent;
}

.chat-message-tail-right {
  right: -16px;
  border-left: 16px solid #22aed1;
  border-right: 16px solid transparent;
  border-bottom: 14px solid #22aed1;
  border-top: 14px solid transparent;
}

.chat-message-tail-left {
  left: -16px;
  border-left: 16px solid transparent;
  border-right: 16px solid #227c9d;
  border-bottom: 14px solid #227c9d;
}
