/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  transform: translateY(-15%);
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  z-index: 100;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus,
.overlay-attached .text:hover {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .overlay-close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .overlay-close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .overlay-open {
    top: 15px;
    right: 15px;
  }
}

.overlay-attached {
  position: relative;
  padding: 28px 16px;
  border-color: #ffffff1a;
  border-width: 1px;
  border-style: solid;
}

.overlay-attached .open-position {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 11px;
  background-color: #fb88ff;
}

.overlay-attached button {
  padding: 4px;
}

.overlay-attached button:hover {
  background-color: #69406b;
}
