{{ if not (isset .Params "images") }}
   {{ errorf "'images' is required in YAML frontmatter for %+v" . }}
{{ end }}

{{ if eq (len .Params.images) 0 }}
   {{ errorf "'images' requires at least 1 element %+v" . }}
{{ end }}

{{ $thumbnail := index .Params.images 0 }}
<div class="pics-card">
   <div class="pics-container">
      <img src="{{ $thumbnail.src }}" draggable="false" alt="{{ $thumbnail.alt }}" />
      <div class="pics-overlay">
         {{ partial "pics/overlay.html" . }}
      </div>
   </div>
</div>
