<div class="content">
   <div class="pics-header">
      <div class="pics-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
      {{ with index .Params "location" }}
         <div class="pics-location icon-container">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
               <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            <span class="text">{{- . -}}</span>
         </div>
      {{ end }}
   </div>

   {{ with index .Params "summary" }}
      <div class="pics-summary">
         {{- . -}}
      </div>
   {{ end }}

   <div class="pics-footer">
		{{ with .Params.tags }}
         {{ partial "tags.html" . }}
		{{ end }}
   </div>
</div>
