{{ $name := .Get "recipient" }}
{{- $lines := split (trim .Inner " ") "\n" -}}
<div class="chat">
   <div class="chat-recipient">{{$name}}</div>
   <div class="chat-body">
      {{- range $lines -}}
      {{- $line := trim . " " -}}
      {{- $match := findRESubmatch `^(left|right),(.*)$` $line -}}
      {{- if gt (len $match) 0 -}}
         {{- $submatch := index $match 0 }}
         {{- $position := trim (index $submatch 1) " " -}}
         {{- $message := trim (index $submatch 2) " " -}}
         <div class="chat-container-{{ $position }}">
            <div tabindex="0" class="chat-message-{{ $position }}">
               {{ $message | safeHTML }}
               <div class="chat-message-tail-{{ $position }}"></div>
            </div>
         </div>
      {{- end -}}
  {{- end -}}
  </div>
</div>
