{{- $name := .Get "recipient" -}}
{{ $inner := trim .Inner " " }}
{{ $beginLefts := split $inner "\n%left%\n" }}
<div class="chat">
	 <div class="chat-recipient">
			{{- if .Get "avatar" -}}
				{{ $avatar := .Get "avatar" }}
				<div><img src="{{$avatar}}" draggable="false"/></div>
			{{- end -}}
			<div><span>{{ $name }}</span></div>
			{{- if .Get "permalink" -}}
				{{- $permalink := .Get "permalink" -}}
				<a href="{{ $permalink }}" target="_blank">
				   <div>
				   	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
				   		<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
				   	</svg>
				   </div>
				</a>
			{{- end -}}
	 </div>
	 <div class="chat-body">
		{{- range $beginLefts -}}
			{{- $beginRights := split (trim . "\n") "%right%\n" -}}
			{{- range $i, $message := $beginRights -}}
				{{- if eq (len $message) 0 -}}
					{{- continue -}}
				{{- end -}}

				{{- $position := "left" -}}
				{{- if gt $i 0 -}}
					{{- $position = "right" -}}
				{{- end -}}

				<div class="chat-container-{{ $position }}">
					<div tabindex="0" class="chat-message">
						{{ $message | markdownify }}
						<div class="chat-message-tail"></div>
					</div>
				</div>
		   {{- end -}}
	   {{- end -}}
	</div>
</div>
